@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Light.ttf") format("truetype");
}

::-webkit-scrollbar {
    display: none;
}

*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

html{
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
}

body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  perspective: 600px;
}


.header{
  position: relative;
  width: 100%;
  height: 10%;
  top: 0px;
  background: #303030;
  z-index: 10;
}

.logo{
  position: absolute;
  display: inline-block;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.dice, .hall{
  position: relative;
  display: inline-block;
  height: 100%;
  float: right;
  transform: scale(.5);
  cursor: pointer;
}

.generate, .add{
  position: relative;
  display: inline-block;
  height: 100%;
  float: left;
  left: 0px;
  cursor: pointer;
  transform: scale(.5);
  transition: all .5s ease-in-out;
}

.generate.hover{
  transform: rotateZ(-180deg);
}

.logo img, .dice img, .generate img, .hall img, .add img{
  position: relative;
  height: 100%;
}

.label{
  position: absolute;
  width: 200px;
  height: 40px;
  background: #303030;
  left: 50%;
  transform: translateX(-50%) rotateX(-180deg);
  transform-origin: top;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  transition: all .25s ease;
  z-index: 9;
}

.drop{
  transform: translateX(-50%) rotateX(0deg);
}

.content{
  height: 80%;
  overflow: hidden;
  transition: all .5s ease;
}

.slider{
  height: 100%;
  width: 300%;
  transition: all .5s ease;
}

.generator, .diceRoller, .hallOfFame{
  position: relative;
  width: 33.3333333333%;
  height: 100%;
  float: left;
}

.dice_active{
  transform: translateX(-33.3333333333%);
}

.hall_active{
  transform: translateX(-66.6666667%);
}

.rollerMode{
  background: #6dce9e;
}

.hallOfFameMode{
  background: #707070;
}

.overflow{
  overflow-y: scroll;
}

.footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 10%;
  background: #303030;
  text-align: center;
  font-size: 13px;
  color: #808080;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.copyright, .title, .dieText {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.fadeOut{
  transition: opacity .5s ease;
  opacity: 0 !important;
}

.fadeIn{
  transition: opacity .5s ease;
  opacity: 1 !important;
}

.hide{
  display: none !important;
}

.show{
  display: block !important;
}

#loading{
  opacity: 1;
  transition: all .5s ease;
}

#loading div{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  opacity: .5;
}

.inner{
  background: #FF5F6D;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.outer{
  background: #FF5F6D;
  animation-name: loading-reverse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes loading{
  0%, 100%{
      transform: translate(-50%,-50%) scale(0);
  }
  50%{
      transform: translate(-50%,-50%) scale(1);
  }
}

@keyframes loading-reverse{
  0%, 100%{
      transform: translate(-50%,-50%) scale(1);
  }
  50%{
      transform: translate(-50%,-50%) scale(0);
  }
}

.wrapper{
  position: relative;
  display: inline-block;
  width: 50%;
  padding: 10px;
  background: #303030 ;
  text-align: center;
  transition: all 1s ease;
  transform: rotateX(-90deg) translate(-50%,-50%);
  transform-origin:top;
  opacity:0;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  border-radius: 20px;
}

.wrapper.fadeIn{
  transform: rotateX(0deg) translate(-50%,-50%);
  opacity:1;
}

.perspectiveFix{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 3000px;
}

.item{
  transform: translateX(-103%);
  width: 100%;
  height: 100px;
  background:white;
  float: left;
  color: #303030;
  font-size: 20px;
  line-height: 100px;
  font-weight: 100;
  transition: all 1s ease;
  margin: 5px 0px 5px 0px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  overflow: hidden;
}

.canHover:hover{
  transform: rotateX(20deg) translateY(2%);
  transition: all .5s ease;
}

.swipe{
  transform: translateX(0%);
}

.description {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  transition: all .5s ease;
  transform: translateY(-200%);
  color: white;
}

#event .description{
  background: #00b09b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#villain .description{
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#genre .description{
  background: #24C6DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.down{
  transform: translateY(-100%);
}

@media screen and (max-width:1024px){
  .wrapper{
      width: 90%;
  }
  .item{
      font-size: 13px;
  }
}

.die{
  position: relative;
  text-align: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 5px;
  float: left;
  background: #303030;
  transition: all .5s ease;
  border-radius: 10px;
  border: 1px #707070 solid;
  z-index: 1;
}

.die:hover{
  transform: scale(3) rotateZ(0deg);
  border-radius: 150px;
  z-index: 9;
}

.rolling{
  transform: scale(3) rotateZ(3600deg) !important;
  transition: all 2s linear;
}

.moments{
  position: absolute;
  max-width: 700px;
  width: 70%;
  height: 90%;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  text-align: center;
}

.moments div{
  position: relative;
}

.moment{
  display: inline-block;
  width: 100%;
  background: white;
  margin: 10px 0px;
  float: left;
  border-radius: 20px;
  background: #303030;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.moment div{
  margin: 10px;
  padding: 5px 0px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  background: white;
  border: 1px #303030 solid;
  transition: all .5s ease;
}

.moment_title{
  font-size: 20px;
  padding: 15px !important;
  font-weight: lighter;
  color: white;
  background: #FF5F6D !important;
  background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D) !important;
  background: linear-gradient(to left, #FFC371, #FF5F6D) !important;
}

.moment span{
    font-weight: bold;
}

#add{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    transition: all .5s ease;
}

#add .moment{
  max-width: 300px;
}

.blur{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
}

#add .moment {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#add input{
    border: 0px;
    background: transparent;
    text-align: center;
    width: 100%;
}

#title{
  color: white;
}

#title::placeholder{
  color: rgba(255, 255, 255, 0.8)
}

#description{
  height: 100px;
  border: 0px;
  text-align: center;
  font-family: inherit;
  width: 90%;
  resize: none;
}

#add_button{
  cursor: pointer;
  height: 50px;
  background: #00b09b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#add_button .centertext{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  color: white;
}

#add .warning{
  border: 1px red solid !important;
}

#add_button .centertext {
  border: 0px;
}
